<h2>Welcome To the Chess Store!</h2>
<br />
<div class="row">
	<div class="small-7 columns">
		<p>
			<em><strong>Howdy!</strong></em>  This chess store is great.
			If you have an account, you can log in, otherwise, feel free
			to browse the site or sign up below.
		</p>
	</div>
	<div class="small-1 columns">
		&nbsp;
	</div>

</div>


