<% unless @price_history.empty? %>
  <div class="panel clearfix">
    Price History
    <div id="divider2"></div>
      <% @price_history.each do |change| %>
        <%= number_to_currency change.price %>&nbsp;&nbsp;&nbsp;(<%= change.start_date.strftime('%m/%d/%y') %>)<br />
      <% end %>
    <div id="divider2"></div>

<% end %>   