<% unless @price_history.empty? %>
  <div class="panel clearfix">
    <h3>Price History</h3>
    <ul>
      <% @price_history.each do |change| %>
        <%= number_to_currency change.price %>&nbsp;&nbsp;&nbsp;(<%= change.start_date.strftime('%m/%d/%y') %>)<br />
      <% end %>
    </ul>

	  <div id="new_item_price_link"> 
	    <%= link_to "Update the price", new_item_price_path(item_id: @item.id), remote: true %> 
	  </div>

    <div id="new_item_link"> 
      <%= link_to "Order more #{@item.name}", new_item_path(this_item_id: @item.id), remote: true %> 
    </div>

<% end %>   